/* General */

html {
  font-family: sans-serif;
  background-color: rgb(255, 235, 190);
  font-size: 10px;
}

body {
  /*width: 800px;*/
  width: 90%;
  margin: 0 auto;
}

/* Typography */

h1,
h2 {
  font-family: "Cherry Swash", cursive;
  margin: 0;
  text-align: center;
}

h1 {
  color: rgb(55, 55, 55);
  font-size: 4rem;
  background: url(images/dog.png) no-repeat 5% center,
    url(images/dog.png) no-repeat 95% center;
  background-size: 48px 48px;
}

h2 {
  font-size: 2rem;
  color: pink;
  text-align: left;
  width: 200px;
  position: absolute;
  left: 4%;
  z-index: 3000;
  text-shadow: 2px 2px 1px black;
  line-height: 2rem;
  padding-top: 0.3rem;
}

p,
li {
  font-size: 1.5rem;
}

label,
input,
select,
button {
  font-size: 2.5rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header,
aside,
main,
footer {
  padding: 20px;
}

header {
  background-color: darksalmon;
  border: 5px solid black;
  border-bottom: 0;
}

aside {
  border-right: 5px solid black;
}

body > div {
  border: 5px solid black;
  display: flex;
}

footer {
  background-color: rosybrown;
  color: floralwhite;
  text-align: center;
  border: 5px solid black;
  border-top: 0;
}

aside {
  flex: 3;
}

main {
  flex: 10;
}

/* Form styling */

aside {
  background-color: mistyrose;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

label,
select,
input {
  display: block;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}

select,
input,
button {
  width: 100%;
}

input {
  background: black;
  box-shadow: inset 1px 1px 1px white;
  color: pink;
  border: none;
  padding: 5px;
  width: 201.5px;
}

button {
  background: black;
  color: pink;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px #ccc;
  cursor: pointer;
}

/* Styling the products */

main {
  background-color: blanchedalmond;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 30%;
  margin: 5px;
  background-color: black;
  position: relative;
  height: 215px;
}

section img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section p {
  color: whitesmoke;
  background: rgb(90, 0, 0);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  /*border-radius: 50%;*/
  box-shadow: 2px 2px 1px pink;
  position: absolute;
  right: 10px;
  bottom: -6px;
  z-index: 2000;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 150px;
  left: 6.5%;
  background-color: black;
  color: pink;
  width: 20%;
  height: 7%;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;
  z-index: 3000;
}

/* mobile responsive styles*/
@media screen and (max-width: 800px) {
  body,
  body div {
    display: grid;
    max-width: 480px;
  }
  header {
    grid-row: 1;
    margin-top: 10px;
  }
  header h1 {
    font-size: 3rem;
    font-weight: bold;
    background: url(images/dog.png) no-repeat 0% center,
      url(images/dog.png) no-repeat 100% center;
    background-size: 48px 48px;
  }
  aside {
    grid-row: 1;
    border-right: none;
    border-bottom: 5px solid black;
  }
  input {
    width: calc(100% - 5px);
    padding: 5px 0 5px 5px;
  }
  main {
    grid-row: 2;
  }
  main h2 {
    font-size: 1.5rem;
    width: 100px;
  }
  footer {
    grid-row: 3;
    margin-bottom: 10px;
  }
  #scrollToTopBtn {
    left: 3%;
    width: 17%;
    height: 5%;
    line-height: 30px;
    font-size: 1rem;
  }
}
